/************************* GLOBALS ***************************/

body { background-color: rgb(245,245,245); }

.btn { text-align: left; }

.left-aside-ionicons { font-size: 24px; }

/*#navbar-top { min-width: 1100px; }*/