/************************* GLOBALS ***************************/

body { background-color: rgb(245,245,245); }

.pointer:hover { cursor: pointer; }

.btn { text-align: left; }

.left-aside-ionicons { font-size: 24px; }

span[class^="ion-social"] { font-size:22px; }

#left-aside-menu { margin-right: -2px; }

#left-aside-menu > button { background-color: rgb(245,245,245) !important; border:none; color:gray; }

#left-aside-menu > button:hover { color:black; }

#left-aside-menu > .active { background-color: white !important; color:black; }

.btn-toolbar { display: inline-block; }

#panel-footer-connect { height: 20px; }

.small { color: gray; }

.cpyrt-list:hover { color: rgb(80,80,80); }

.cpyrt-navlist-fix-pos { padding-left:0px; padding-right:0px; margin-left: -70px; margin-top: -4px; }

.content-sub-container { background-color: white; color: black; }

.inline-form-marginleft { margin-left:60px; }

#from-to { position: absolute; top: 170px; left: 320px; font-size: 18px; }

#depart-on { width: 200px; }

#date-picker { position: absolute; top: 50px; left: 190px; font-size: 18px; }

.inline-form-select { margin-left:15px; }

.form-select-inline { width: 79px; }

#search-flights-btn { float: right; margin:30px 30px 30px 0px; }

#flights-content { font-size: 13px; z-index: 100; }
